.banner{    
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../public/images/world3.png');  
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-position:center;
  display: flex;
  align-items: center;               
  justify-content: space-between; 

  h1{
    color: #fafafa;
    padding: 0px 30px;
    font-family: 'Inter', sans-serif;
  }  

  .text-banner{
    margin-top: 16px;
    color: #fafafa;
    width: 600px;
    padding: 0px 30px;
    font-size: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }

  .btn-saiba{
    width: 140px;
    height: 40px;
    margin-left: 30px;
    margin-top: 24px;
    background-color: transparent;
    border: none;
    border: 2px solid #fafafa;
    text-transform: uppercase;
    color: #fafafa;
    transition: all ease 0.5s;
  }
  
  .btn-saiba:hover{
    background-color: #fafafa;
    color: #111;  
    cursor: pointer;
  }
  
  .area-astro-img{  
    width: 50%;
    display: flex;
    justify-content: center;
  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  .area-astro-img img{
    width: 50%;
  }
  
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
  }  
}

@media(max-width: 768px){
  .banner{
    background-size: 100% 100%;
    flex-direction: column;
    justify-content: center;

    h1{
      font-size: 24px;
    }   

    .area-astro-img{
      display: flex;
      justify-content: center;
      order: 1;

      img{    
        width: 200px;
        height: 200px;
      }
    }

    .area-txt-banner{
      order: 2;
      margin-top: 20px;

      .text-banner{
        width: 100%;
      }
    } 
  }


}