#details-launches{
  background: #111;
  height: 100vh;
  padding-top: 100px;

  h1{
    margin-left: 30px;
    color: #fafafa;
    font-family: 'Inter', sans-serif;
  }

  p{
    margin-left: 30px;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    width: 600px;
  }

  button{
    width: 140px;
    height: 40px;
    margin-left: 30px;
    margin-top: 62px;
  }
}