#rockets{
  background: #111;

  h1{
    color: #fafafa;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-left: 30px;
    padding-top: 24px;       
  }  
  
  .area-rocket{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
      color: #fafafa;
      font-family: 'Inter', sans-serif;
      font-size: 32px;
      font-weight: 300;
      margin-left: 30px;
      padding-top: 24px;   
      padding-bottom: 24px; 
    }
    .list-infos{
      border-bottom: 1px solid #fafafa;
      width: 350px;
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
      padding: 0 10px 10px 10px;
  
      p{
        color: #fafafa;
        font-family: 'Roboto', sans-serif; 
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 30px;
      }
      h4{
        color: #fafafa;
        font-family: 'Inter', sans-serif;    
        width: 300px;
      }    
    }

    .area-img{
      width: 50%;
      padding-right: 30px;

      img{
        width: 100%;    
        border-radius: 3px;    
      }
    }
  }
  .list-infos-twodisplay{
    flex-direction: column;

    .text-description{
      text-transform: none !important;
      font-weight: normal !important;
      margin-top: 10px !important;
    }
  }


}

@media(max-width: 768px){
  #rockets{

    .area-rocket{
      flex-direction: column;
      height: 100%;

      .area-infos{
        order: 1 !important;
      }

      h1{
        margin-left: 0px;
        padding-top: 0px;   
        padding-bottom: 0px; 
      }      

      .area-img{
        width: 80%;
        display: flex !important;
        justify-content: center !important;
        padding-left: 30px !important;
  
        img{
          margin-top: 32px;
          margin-bottom: 32px;
          width: 100%;    
          border-radius: 3px;    
        }
      }      
    }
    .list-infos-twodisplay{
  
      .text-description{
        padding-bottom: 24px;
      }
    }    
  }
}