#lauches{
  background: #111;
  height: 100%;
  padding: 0px 0px 24px 0px;
  
  h1{
    color: #fafafa;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-left: 30px;
    padding-top: 24px;    
  }

  .area-cards-lauches{
    height: 120px;
    width: 90%;
    margin: 24px auto 0px;
    border-radius: 10px;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    .infos-cards{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      h2{
        color: #fafafa;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 20px;
      }
    }

    .area-btn-cards{

      button{
        width: 140px;
        height: 40px;
        background-color: #fafafa;
        border: none;
        border: 2px solid #fafafa;
        text-transform: uppercase;
        color: #111;
        transition: all ease 0.5s;
      }

      button:hover{
        background-color: transparent;
        color: #fafafa;  
        cursor: pointer;
      }
    }
  }
  .area-btn-load{
    display: flex;
    justify-content: center;

    .btn-load{
      width: 180px;
      height: 45px;
      text-transform: uppercase;
      font-weight: normal;
      margin-top: 24px;
      font-family: 'Inter', sans-serif;
      background: transparent;
      border: 2px solid #fafafa;
      color: #fafafa;
      cursor: pointer;
      transition: all ease 0.5s;
    }
    .btn-load:hover{
      background: #fafafa;
      color: #111;
    }
  }

}